<?xml version="1.0" encoding="utf-8"?>
<Configuration xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  <Route Name="LAM Route" MustCrypt="false" Crypt="false">
    <!-- AD MO-->
    <Group Name="Ad" MustCrypt="true" Crypt="false">
      <!-- Server:192.168.41.106, Port:389, BaseDN:ou=mo,dc=wesmsys,dc=local  -->
      <String Name="Server">192.168.10.173</String>
      <String Name="Port">389</String>
      <String Name="BaseDn">ou=IEMOP,dc=iemop,dc=ph</String>
    </Group>
    <!-- DB CRSS-->
    <Group Name="CRSSDb" MustCrypt="true" Crypt="false">
      <String Name="Server">192.168.74.139</String>
      <String Name="Database">crss</String>
      <String Name="UserId">crss_reader</String>
      <String Name="Password">crss_reader</String>
    </Group>
    <!-- DB AMS-->      
    <Group Name="AMSDb" MustCrypt="true" Crypt="false">
      <String Name="Datasource">192.168.94.166:1603/ams</String>
      <String Name="UserId">ismsadm</String>
      <String Name="Password">ismsadm</String>
    </Group>
  </Route>
</Configuration>